
.home{
    height:80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: .5s ease;
    animation: atom 30s ease infinite;
}
@keyframes atom {
  0%{
    background-image: url('https://img.freepik.com/free-photo/women-with-creative-nail-art_23-2149936846.jpg');
  }
  25%{
    background-image: url('https://img.freepik.com/free-photo/beautiful-afro-american-woman_144627-13084.jpg');
  }
  50%{
    background-image: url('https://img.freepik.com/free-photo/women-wearing-beautiful-nail-polish_23-2149936857.jpg');
  }
  75%{
    background-image: url('https://img.freepik.com/free-photo/women-with-creative-nail-art-collage_23-2149936847.jpg');
  }
  100%{
    background-image: url('https://img.freepik.com/free-photo/hands-with-beautiful-colorful-nails_23-2149936854.jpg');
  }
  
}
.home h2 {
    display: inline-block;
    overflow: hidden;
    word-wrap: break-word;
    border-right: .15em solid orange;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: blueviolet }
  }
  h1{
    position: relative;
    width:100%;

  }
  h1::after{
    content: "";
    display: block;
    width:30%;
    height:4px;
    background-color: rgb(0, 174, 255);
    right:10px;
    top:50%;
    position: absolute;
  }

  h1::before{
    content: "";
    display: block;
    width:30%;
    height:4px;
    background-color: rgb(0, 26, 255);
    left:10px;
    top:50%;
    position: absolute;
  }
  iframe{width:0px;height:0px;outline:none;border:0px;float:right;}
